{{!--

  This file contains the "Add All To Cart" and "Remove All Items" buttons that will be displayed on category pages.
  "Remove All Items" will only be visible if there are items in the cart.
  
  The only argument to know when using this component is:
  `class`:
      The CSS classes to add to the button container. The value must be either "cart-buttons-desktop" for the desktop view 
      or "cart-buttons-mobile" for the mobile view. If no class is provided, it will default to "cart-buttons-desktop".
      
--}}

{{inject "bearerToken" settings.storefront_api.token}}
{{inject "cartQuantity" cart.quantity}}

<div
  class="cart-buttons {{#if class}}{{class}}{{else}}cart-buttons-desktop{{/if}}"
>
  <input
    class="button button--tertiary button--normal hide-btn remove-all-items-btn"
    data-button-type="remove-all-items"
    data-wait-message="{{lang 'products.removing_items'}}"
    value="{{lang 'products.remove_all_items'}}"
  />
  <input
  class="button button--primary button--normal add-all-to-cart-btn"
    data-button-type="add-all-to-cart"
    data-category-url="{{category.url}}"
    data-wait-message="{{lang 'products.adding_to_cart'}}"
    value="{{lang 'products.add_all_to_cart'}}"
  />
</div>