// =============================================================================
// USER DETAILS (CSS)
// =============================================================================

.navUser-section.user-details-nav {
  position: relative;
  .navUser-action {
    font-size: fontSize("smaller");
    position: absolute;
    min-width: 300px;
    text-transform: none;  

    &:hover,
    &.is-open {
      color: stencilColor("navUser-color");
    }
  }

  p {
    margin: 0;
  }

  @media (max-width: $screen-medium) {
    display: none;
  }
}

.user-details-sidebar {
  display: none;

  @media (max-width: $screen-medium) {
    display: block;

    font-weight: 700;
    font-size: fontSize("smaller");

    border-bottom: 1px solid $navPages-list--user-borderColor;
    margin-bottom: spacing("single");
    padding-bottom: spacing("half");

    p {
      margin-bottom: spacing("quarter");
    }
  }
}
